@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.app-main-container {
  background-attachment:fixed ;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(41deg, rgba(2,0,36,1) 0%, rgba(104,0,165,1) 26%, rgba(88,56,206,1) 52%, rgba(0,202,255,1) 100%);}

:root{
  --primary-black: #171718;
  --primary-white: #e6e6e6;
  --primary-color-dark: #6800a5;
  --primary-color-mid: #5838ce;
  --primary-color-light: #00caff;
  --secondary-color-mid: #F5B301;
  --secondary-color-light: #FED053;
  --secondary-color-dark: #d9b100;
  --text-white: rgb(224, 224, 224);
  --text-dark: rgb(61, 61, 61);
  --text-light-dark: rgb(95, 95, 95);
  --text-colored: #00caff;
}


.container , .container-fluid{
  padding: 0 !important;
}
.row{
  margin: 0 !important;
}

.app-main-container>.row, .app-main-container>.row>.col{
  padding: 0;
  margin: 0;
}
h1, h2,h3,h4,h5,h6,p{
  font-family: 'Questrial', sans-serif;
}

* h1{
  font-size: calc(2vw + 2.5rem);
}
* h2{
  font-size: calc(1.75vw + 1.75rem);
}
* h3{
  font-size: calc(1.25vw + 1.5rem);
}
* p{
  font-size: calc(0.50vw + 0.75rem );
}
