@use "../../base.scss";


$milestone-height: 400px;
#roadmap-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-weight: bold;
        font-size: 36pt;
        color: base.$text-white;
    }
  }
  
  .milestone {
    width: 100%;
    height: $milestone-height;
    display: flex;
    align-items: center;
    %dot {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: base.$primary-color-light;
        margin-right: 10px;
        &:after{
            content: "";
            position: absolute;
            width: 3px;
            height: $milestone-height;
            background-color: base.$primary-color-light;
          
            transform: translate(-50%, -50%); 
        }
      }

      .dot-col{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
      }

      .dot{
        @extend %dot;
      }
      .first-dot{
        @extend %dot;
        &:after{

            height: $milestone-height/2;
            transform: translate(-50%, 0); 
        }
      }
      .last-dot{
        @extend %dot;
        &:after{

            height:  $milestone-height/2;
            transform: translate(-50%, -100%); 
        }
      }
  }
  

  .blob-col{
    display: flex;
    align-items: center;
    justify-content: center;
    color: base.$text-white;

    .blob-wrapper{
        padding-bottom: 3rem;
    }
    h2{
        font-weight: bold;
    }

    h4{
        text-align: justify;
    }
  }
  .label {
    text-align: end;
    font-size: 20pt;
    color: base.$text-white;
  }